*{
    box-sizing: border-box;
}
#gallery img{
    width: 25%;
    height: 300px;
    object-fit: cover;
}
#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}
body{
    font-family: "Arial", "微软雅黑";
    background-color: white;
}